html {
  /* rem base */
  font-size: 20px;
}
html, body {
  margin: 0;
  min-width: 595px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0.25rem 0 0.25rem 0;
  padding: 0;
}
.main {
  position: relative;
  width: 100%;
  background-image: url("../images/ncku_ch.jpg");
  background-color: white;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.main::before {
  content: "";
  display: block;
  padding-top: 141.42%;
}
.contain {
  width: 100%;
  padding-left: 13.1%;
  padding-right: 13.1%;
  position: absolute;
  top: 11.28%;
  left: 0;
}
.footer {
  width: 100%;
  padding-left: 11.93%;
  padding-right: 11.93%;
  position: absolute;
  bottom: 7%;
  left: 0;
}
.title {
  width: 100%;
  margin: 0;
  text-align: center;
  /* need fix */
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  margin-bottom: 0.25rem;
}
.subtitle {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  /* need fix */
  font-size: 0.75rem;
}
.text {
  /* need fix */
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
.date {
  /* need fix */
  font-size: 1rem;
  letter-spacing: 0.15rem;
}
.df {
  /* need fix */
  font-size: 0.75rem;
}
